{
    "host": {
        "port": "3000",
        "ip": "localhost"
    },

    "admin": {
        "user": "admin",
        "pass": "admin"
    },

    "debug": true,

    "hash": "change to a very secret hash",

    "auth": "basic",
    "storage": "file",

    "userPathPrefix": "/red",
    "adminPathPrefix": "/admin",

    flowsDir: '/tmp',

    localhost: {
        "instancesDir": "./instances",
        "basePort": 3002
    },

    docker: {
        socketPath: '/var/run/docker.sock',
        image: 'muka/redzilla',
        volumes: {}
    }

}